In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("final_backup.csv")

In [3]:
df1

,Unnamed: 0,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,0,APSRTC - 37800,INDRA(A.C. Seater),00:15,05:45,05h 30m,567.0,34 Seats available,4.0,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
1,1,APSRTC - 24255,INDRA(A.C. Seater),00:20,04:40,04h 20m,528.0,14 Seats available,1.5,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
2,2,APSRTC - 2677,NIGHT RIDER (SEATER CUM SLEEPER),00:40,06:15,05h 35m,639.0,34 Seats available,2.5,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
3,3,APSRTC - 2777,INDRA(A.C. Seater),00:45,06:55,06h 10m,567.0,32 Seats available,2.9,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
4,4,APSRTC - 4919,INDRA(A.C. Seater),00:45,05:50,05h 05m,567.0,32 Seats available,1.1,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
...,...,...,...,...,...,...,...,...,...,...,...
9098,9098,SBSTC-BONGAON - DIGHA - VIA - BARASAT - 05:15 ...,Non AC Seater (2+3),06:30,00:00,17h 30m,159.0,48 Seats available,4.4,https://www.redbus.in/bus-tickets/habra-to-con...,Habra to Contai (Kanthi)
9099,9099,Santosh Bus Service,A/C Seater Push Back (2+3),05:10,09:30,04h 20m,416.0,6 Seats available,4.6,https://www.redbus.in/bus-tickets/habra-to-con...,Habra to Contai (Kanthi)
9100,9100,WBTC (CTC) Habra-Midnapur - 194|05:25,Non AC Seater (2+3),05:25,09:35,04h 10m,138.0,48 Seats available,4.1,https://www.redbus.in/bus-tickets/habra-to-mid...,Habra to Midnapore
9101,9101,WBTC (CTC) Habra-Midnapur - 194|05:55,Non AC Seater (2+3),05:55,10:15,04h 20m,138.0,43 Seats available,4.1,https://www.redbus.in/bus-tickets/habra-to-mid...,Habra to Midnapore
9102,9102,SBSTC-HABRA - MIDNAPUR - 06:20 (MID DEPOT) - 1398,Non AC Seater (2+3),06:20,00:00,17h 40m,143.0,49 Seats available,4.6,https://www.redbus.in/bus-tickets/habra-to-mid...,Habra to Midnapore

In [4]:
df1[['Origin','Destination']] = df1['Route_name'].str.split(" to ", expand=True)

In [5]:
origin = list(set(df1['Origin'].to_list()))
origin

['Motihari',
 'Badaun',
 'Kakinada',
 'Mysore',
 'Kadapa',
 'Kolkata',
 'Varanasi',
 'Kalpetta (kerala)',
 'Kullu',
 'Midnapore',
 'Ernakulam',
 'Ghumarwin',
 'Berhampore (West Bengal)',
 'Moradabad',
 'Chennai',
 'Chamba (Himachal Pradesh)',
 'Shimla',
 'Chittoor (Andhra Pradesh)',
 'Moran',
 'Vinukonda',
 'Barasat (West Bengal)',
 'Manali',
 'Lucknow',
 'Kozhikode',
 'Hazaribagh',
 'Kothagudem',
 'Baddi (Himachal Pradesh)',
 'Gohpur',
 'Nellore',
 'Sikar',
 'Patna (Bihar)',
 'Ranchi',
 'Gopalganj (Bihar)',
 'Delhi',
 'Kurnool',
 'Sitapur (Uttar Pradesh)',
 'Darbhanga',
 'Bihpuria',
 'Kannur',
 'Bareilly',
 'Agra',
 'Karimnagar',
 'Rayachoti',
 'Kishangarh',
 'Kathmandu',
 'Farrukhabad (Uttar Pradesh)',
 'Kadiri',
 'Kanpur (Uttar Pradesh)',
 'Hyderabad',
 'Hamirpur (Himachal Pradesh)',
 'Shahjahanpur (Uttar Pradesh)',
 'Goalpara',
 'Haflong',
 'Jaunpur',
 'Thiruvananthapuram',
 'Ongole',
 'Thrissur',
 'Allahabad',
 'Solan',
 'Durgapur (West Bengal)',
 'Bolpur (West Bengal)',
 'Jodhpur',
 'Coimbatore',
 'Jaipur (Rajasthan)',
 'Narasaraopet',
 'Amalapuram',
 'Udaipur',
 'Dhubri',
 'Palampur',
 'Biswanath Charali',
 'Haldia',
 'North Lakhimpur',
 'Balmiki Nagar (bihar)',
 'Nagaon (Assam)',
 'Dalhousie',
 'Dharamshala (Himachal Pradesh)',
 'Siliguri',
 'Kangra',
 'Burdwan',
 'Jagityal',
 'Muzaffarpur (Bihar)',
 'Purnea',
 'Kottayam',
 'Vijayawada',
 'Sibsagar',
 'Pali (Rajasthan)',
 'Tirupati',
 'Tinsukia',
 'Jhargram',
 'Bettiah',
 'Aligarh (uttar pradesh)',
 'Bangalore',
 'Tezpur',
 'Kota(Rajasthan)',
 'Guwahati',
 'Dhekiajuli',
 'Dibrugarh',
 'Eluru',
 'Purulia',
 'Chandigarh',
 'Suri',
 'Beawar (Rajasthan)',
 'Bikaner',
 'Jorhat',
 'Visakhapatnam',
 'Madanapalli',
 'Godavarikhani',
 'Habra',
 'Digha',
 'Rajahmundry']

In [6]:
Destination = list(set(df1['Destination'].to_list()))
Destination

['Motihari',
 'Badaun',
 'Kakinada',
 'Anantapur (andhra pradesh)',
 'Mysore',
 'Kadapa',
 'Dehradun',
 'Kolkata',
 'Nirmal',
 'Armoor',
 'Varanasi',
 'Reckong Peo (Himachal Pradesh)',
 'Kalpetta (kerala)',
 'Kullu',
 'Kirnahar (West Bengal)',
 'Contai (Kanthi)',
 'Midnapore',
 'Ernakulam',
 'Mechogram',
 'Berhampore (West Bengal)',
 'Moradabad',
 'Chamba (Himachal Pradesh)',
 'Bharatpur',
 'Shimla',
 'Srisailam',
 'Chittoor (Andhra Pradesh)',
 'Etah (Uttar Pradesh)',
 'Moran',
 'Barasat (West Bengal)',
 'Manali',
 'Lucknow',
 'Ayodhya',
 'Kozhikode',
 'Ajmer',
 'Hazaribagh',
 'Adilabad',
 'Kothagudem',
 'Baddi (Himachal Pradesh)',
 'Arambagh (West Bengal)',
 'Sikar',
 'Patna (Bihar)',
 'Ranchi',
 'Delhi',
 'Silchar',
 'Janakpur (Nepal)',
 'Warangal',
 'Kurnool',
 'Sitapur (Uttar Pradesh)',
 'Jhansi',
 'Kolaghat',
 'Kannur',
 'Saharsa',
 'Katihar',
 'Bareilly',
 'Agra',
 'Haridwar',
 'Mecheda (West Bengal)',
 'Karimnagar',
 'Raxaul',
 'Futishanko',
 'Kathmandu',
 'Farrukhabad (Uttar Pradesh)',
 'Kanpur (Uttar Pradesh)',
 'Hyderabad',
 'Nandakumar (west bengal)',
 'Kotdwar (Uttarakhand)',
 'Hamirpur (Himachal Pradesh)',
 'Shahjahanpur (Uttar Pradesh)',
 'Haflong',
 'Bhadrachalam',
 'Jaunpur',
 'Thiruvananthapuram',
 'Ongole',
 'Thrissur',
 'Allahabad',
 'Solan',
 'Durgapur (West Bengal)',
 'Malda',
 'Bolpur (West Bengal)',
 'Jodhpur',
 'Bajkul (West Bengal)',
 'Azamgarh',
 'Jaipur (Rajasthan)',
 'Asansol (West Bengal)',
 'Amalapuram',
 'Udaipur',
 'Dhubri',
 'Palampur',
 'Haldwani',
 'Chandipur (West Bengal)',
 'Biswanath Charali',
 'Haldia',
 'North Lakhimpur',
 'Balmiki Nagar (bihar)',
 'Nagaon (Assam)',
 'Dalhousie',
 'Dharamshala (Himachal Pradesh)',
 'Siliguri',
 'Kangra',
 'Burdwan',
 'Muzaffarpur (Bihar)',
 'Purnea',
 'Kottayam',
 'Gorakhpur (uttar pradesh)',
 'Vijayawada',
 'Sibsagar',
 'Ooty',
 'Pali (Rajasthan)',
 'Bhilwara',
 'Tirupati',
 None,
 'Tinsukia',
 'Bettiah',
 'Bankura',
 'Digha',
 'Sarkaghat',
 'Aligarh (uttar pradesh)',
 'Bangalore',
 'Debra',
 'Heria',
 'Tezpur',
 'Kota(Rajasthan)',
 'Pilani',
 'Guwahati',
 'Dibrugarh',
 'Mancherial',
 'Nimtouri',
 'Purulia',
 'Chandigarh',
 'Suri',
 'Beawar (Rajasthan)',
 'Bikaner',
 'Jorhat',
 'Visakhapatnam',
 'Nalagarh',
 'Araria (Bihar)',
 'Ramnagar (West Bengal)',
 'Madanapalli',
 'Godavarikhani',
 'Ballia',
 'Habra',
 'Mathura',
 'Rajahmundry']

In [10]:
data = {
    "Origin": origin
}

In [12]:
origin_df = pd.DataFrame(data)
origin_df

            Origin
0         Motihari
1           Badaun
2         Kakinada
3           Mysore
4           Kadapa
..             ...
105    Madanapalli
106  Godavarikhani
107          Habra
108          Digha
109    Rajahmundry

[110 rows x 1 columns]

In [18]:
origin_df.to_csv("origin.csv", index= False)

In [13]:
data = {
    "Destination": Destination
}

In [14]:
Destination_df = pd.DataFrame(data)

In [19]:
Destination_df.to_csv("destination.csv", index= False)